# Capstone Project

## Data analysis

### Step 1 - import packages

In [ ]:
import pandas as pa
import numpy as np
import psycopg2

### Step 2 - Connect to Redshift

In [ ]:
# Connecting to Redshift 

host = #<insert_host>
port = #<insert_port>
db_name = #<insert_name>
username = #<insert_name>
password = #<insert_password

try:
    print("Connecting to Redshift...")
    conn = psycopg2.connect(
        dbname = db_name,
        user = username,
        password = password,
        host = host,
        port = port
    )
    
    print("Connection successfull!")
    cursor = conn.cursor()
except:
    print("Unable to connect...")

### Step 3 -  Check Data

In [ ]:
query = '''
    SELECT count(*)
    FROM public.fact_sales
'''

result = pandas.read_sql_query(query,conn)
result.head(1)

In [ ]:
query = '''
    SELECT count(*)
    FROM public.dim_date
'''

result = pandas.read_sql_query(query,conn)
result.head(1)

In [ ]:
query = '''
    SELECT count(*)
    FROM public.dim_customer
'''

result = pandas.read_sql_query(query,conn)
result.head(1)

In [ ]:
query = '''
    SELECT count(*)
    FROM public.dim_products
'''

result = pandas.read_sql_query(query,conn)
result.head(1)

In [ ]:
query = '''
    SELECT count(*)
    FROM public.dim_cities
'''

result = pandas.read_sql_query(query,conn)
result.head(1)

### Step 4 - Data Analysis

In [ ]:
# Sales that occured on February with product and customer data

query = '''
    select a.sale_id, a.order_date, a.product_id, b.product_line
    from public.fact_sales a
    join public.dim_products b on a.product_id = b.product_id
    join public.dim_date c on a.order_date = c.order_date
    where c.month = '2' ;
'''

result = pandas.read_sql_query(query,conn)
result.head(50)

In [ ]:
# Number of customer in a city relative to the population

query = '''
    select count(distinct a.customer_id), b.population, b.city
    from public.dim_cities b
    join public.dim_customer a on b.city = a.city
    group by 2, 3;
'''

result = pandas.read_sql_query(query,conn)
result.head(200)

### Step 5 - Close connection

In [ ]:
conn.close()